<div>
  <h2 id="page-heading" data-cy="UsersHeading">
    <span>Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="users?.length === 0">
    <span>No users found</span>
  </div>

  <div class="alert alert-warning" *ngIf="noUsersHaveInterviews">
    <span>No users found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="users && users.length > 0 && !noUsersHaveInterviews">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>First Name</span></th>
          <th scope="col"><span>Last Name</span></th>
          <th scope="col"><span>Interviews</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; trackBy: trackId" data-cy="entityTable">
          <ng-container *ngIf="user.interviewIds!.length > 0">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>
              <span *ngFor="let interview of user.interviewIds; let last = last">
                <a class="form-control-static" [routerLink]="['/interview', interview, 'view']">{{ interview }}</a
                >{{ last ? '' : ', ' }}
              </span>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit" [routerLink]="['/users', user.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline">View</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
