<div>
  <h2 id="page-heading" data-cy="QuestionHeading">
    <span>Questions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-question"
        [routerLink]="['/question/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Question </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="questions?.length === 0">
    <span>No questions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="questions && questions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Question Name</span></th>
          <th scope="col"><span>Question</span></th>
          <th scope="col"><span>Interview</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/question', question.id, 'view']">{{ question.id }}</a>
          </td>
          <td>{{ question.questionName }}</td>
          <td>{{ question.question }}</td>
          <td>
            <div *ngIf="question.interview">
              <a [routerLink]="['/interview', question.interview?.id, 'view']">{{ question.interview?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/question', question.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/question', question.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(question)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
