<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-interview-heading" data-cy="InterviewCreateUpdateHeading">Create or edit a Interview</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
        </div>

        <div class="form-group">
          <label for="interviewers">Interviewers</label><br />
          <select multiple id="interviewers">
            <option *ngFor="let user of userList" [value]="user.id">{{ user.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Interviewers</mat-label>
            <mat-select [formControl]="users" multiple>
              <mat-option *ngFor="let user of userList" [value]="user.id">{{ user.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!--<div class="form-group">
          <label for="field_questions">Questions</label>
          <select class="form-control" id="field_questions" data-cy="questions" multiple name="questions" formControlName="questions">
            <option
              [ngValue]="getSelectedQuestion(questionOption, editForm.get('questions')!.value)"
              *ngFor="let questionOption of questionsSharedCollection; trackBy: trackQuestionById"
            >
              {{ questionOption.id }}
            </option>
          </select>
        </div>-->
      </div>
      <br />

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
