<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="candidate">
      <h2 data-cy="candidateDetailsHeading"><span>Candidate</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ candidate.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ candidate.lastName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ candidate.email }}</span>
        </dd>
        <dt><span>Interviews</span></dt>
        <dd>
          <div *ngIf="candidate.interview">
            <a [routerLink]="['/interview', candidate.interview?.id, 'view']">{{ candidate.interview?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/candidate', candidate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
