<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="interviewDetails">
      <h2 data-cy="interviewDetailsHeading"><span>Interview</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Interview Details</span></dt>
        <dd>
          <span>{{ interviewDetails.interview?.details }}</span>
        </dd>

        <!--"Span" values are currently, need to get job information to include in spans NEED TO UPDATE-->
        <dt><span>Job</span></dt>
        <dd>
          <span>{{ interviewDetails.job?.jobName }}</span>
        </dd>
        <dt><span>Job Role</span></dt>
        <dd>
          <span>{{ interviewDetails.job?.jobRole }}</span>
        </dd>
        <dt><span>Job Description</span></dt>
        <dd>
          <span>{{ interviewDetails.job?.jobDescription }}</span>
        </dd>
        <dt><span>Job Qualifications</span></dt>
        <dd>
          <span>{{ interviewDetails.job?.minimumQualifications }}</span>
        </dd>
        <dt><span>Job Responsibilities</span></dt>
        <dd>
          <span>{{ interviewDetails.job?.responsibilities }}</span>
        </dd>

        <dt><span>Candidate</span></dt>
        <dd>
          <!--Will use "interview.candidate.firstName" and "interview.candidate.lastName"-->
          <!--Need to implement how to check for NULL or undefined-->
          <span>{{ interviewDetails.candidate?.firstName }} {{ interviewDetails.candidate?.lastName }}</span>
        </dd>
        <dt><span>Candidate Email</span></dt>
        <dd>
          <!--Will use "interview.candidate.email"-->
          <!--Need to implement how to check for NULL or undefined-->
          <span>{{ interviewDetails.candidate?.email }}</span>
        </dd>

        <dt><span>Interviewers</span></dt>
        <dd>
          <span *ngFor="let user of interviewDetails.userList; let last = last">
            <a>{{ user.firstName }} {{ user.lastName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>

        <dt><span>Questions</span></dt>
        <dd>
          <span *ngFor="let question of interviewDetails.questionList; let last = last">
            <a>{{ question.question?.questionName }}: {{ question.question?.question }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" [routerLink]="['/interview']" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/interview', interviewDetails.interview?.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>

      <!--Will change route to "New Question" page when available-->
      <button type="button" [routerLink]="['/interview', interviewDetails.interview?.id, 'edit']" class="btn btn-danger">
        <fa-icon icon="plus"></fa-icon>&nbsp;<span>Add Question</span>
      </button>
    </div>
  </div>
</div>
